sarpy/io/complex/sicd_elements/sicd_schema/SICD_schema_V0_5_0_2011_01_12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   elementFormDefault="qualified"
   attributeFormDefault="unqualified"
   targetNamespace="urn:SICD:0.5.0"
   xmlns="urn:SICD:0.5.0">

<!-- SICD TYPES -->

   <xs:complexType name="XYZType">
      <xs:sequence>
         <xs:element name="X" type="xs:double" maxOccurs="1"/>
         <xs:element name="Y" type="xs:double" maxOccurs="1"/>
         <xs:element name="Z" type="xs:double" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="XYZAttributeType">
      <xs:complexContent>
         <xs:extension base="XYZType">
            <xs:attribute name="name" type="xs:string" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LatLonHAEType">
      <xs:sequence>
         <xs:element name="Lat" type="xs:double" maxOccurs="1"/>
         <xs:element name="Lon" type="xs:double" maxOccurs="1"/>
         <xs:element name="HAE" type="xs:double" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="LatLonType">
      <xs:sequence>
         <xs:element name="Lat" type="xs:double" maxOccurs="1"/>
         <xs:element name="Lon" type="xs:double" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="CornerAttrType">
      <xs:restriction base="xs:int">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="4"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="CornerStringType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="1:FRFC"/>
         <xs:enumeration value="2:FRLC"/>
         <xs:enumeration value="3:LRLC"/>
         <xs:enumeration value="4:LRFC"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="LatLonCornerType">
     <xs:complexContent>
      <xs:extension base="LatLonType">
         <xs:attribute name="index" type="CornerAttrType" use="required"/>
      </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LatLonCornerStringType">
     <xs:complexContent>
      <xs:extension base="LatLonType">
         <xs:attribute name="index" type="CornerStringType" use="required"/>
      </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LatLonHAECornerType">
     <xs:complexContent>
      <xs:extension base="LatLonHAEType">
         <xs:attribute name="index" type="CornerAttrType" use="required"/>
      </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LatLonHAECornerStringType">
    <xs:complexContent>
      <xs:extension base="LatLonHAEType">
         <xs:attribute name="index" type="CornerStringType" use="required"/>
      </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="RowColType">
      <xs:sequence>
         <xs:element name="Row" type="xs:int" maxOccurs="1"/>
         <xs:element name="Col" type="xs:int" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ComplexType">
      <xs:sequence>
         <xs:element name="Real" type="xs:double" maxOccurs="1"/>
         <xs:element name="Imag" type="xs:double" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RowColvertexType">
    <xs:complexContent>
      <xs:extension base="RowColType">
         <xs:attribute name="index" type="xs:int" use="required"/>
      </xs:extension>
     </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="PolyCoef1DType">
      <xs:simpleContent>
         <xs:extension base="xs:double">
            <xs:attribute name="exponent1" type="xs:int" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="PolyCoef2DType">
      <xs:simpleContent>
         <xs:extension base="xs:double">
            <xs:attribute name="exponent1" type="xs:int" use="required"/>
            <xs:attribute name="exponent2" type="xs:int" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="Poly1DType">
      <xs:sequence>
         <xs:element name="Coef" type="PolyCoef1DType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="order1" type="xs:int" use="required"/>
   </xs:complexType>

   <xs:complexType name="Poly2DType">
      <xs:sequence>
         <xs:element name="Coef" type="PolyCoef2DType" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="order1" type="xs:int" use="required"/>
      <xs:attribute name="order2" type="xs:int" use="required"/>
   </xs:complexType>

   <xs:complexType name="XYZPolyType">
      <xs:sequence>
         <xs:element name="X" type="Poly1DType" maxOccurs="1"/>
         <xs:element name="Y" type="Poly1DType" maxOccurs="1"/>
         <xs:element name="Z" type="Poly1DType" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="XYZPolyAttributeType">
      <xs:complexContent>
         <xs:extension base="XYZPolyType">
            <xs:attribute name="index" type="xs:int" use="required"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <xs:complexType name="LineType">
      <xs:sequence>
         <xs:element name="Endpoint" minOccurs="2" maxOccurs="unbounded">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="LatLonType">
                     <xs:attribute name="index" type="xs:int" use="required"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="size" type="xs:int" use="required"/>
   </xs:complexType>

   <xs:complexType name="PolygonType">
      <xs:sequence>
         <xs:element name="Vertex" minOccurs="3" maxOccurs="unbounded">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="LatLonType">
                     <xs:attribute name="index" type="xs:int" use="required"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="size" type="xs:int" use="required"/>
   </xs:complexType>

   <xs:complexType name="ArrayDouble">
      <xs:simpleContent>
         <xs:extension base="xs:double">
            <xs:attribute name="index" type="xs:int" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:complexType name="ParameterType">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" use="required"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>

   <xs:simpleType name="OrientationType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="UP"/>
         <xs:enumeration value="DOWN"/>
         <xs:enumeration value="LEFT"/>
         <xs:enumeration value="RIGHT"/>
         <xs:enumeration value="ARBITRARY"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="PolarizationType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="V"/>
         <xs:enumeration value="H"/>
         <xs:enumeration value="RHC"/>
         <xs:enumeration value="LHC"/>
         <xs:enumeration value="OTHER"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="DualPolarizationType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="V:V"/>
         <xs:enumeration value="V:H"/>
         <xs:enumeration value="H:V"/>
         <xs:enumeration value="H:H"/>
         <xs:enumeration value="RHC:RHC"/>
         <xs:enumeration value="RHC:LHC"/>
         <xs:enumeration value="LHC:RHC"/>
         <xs:enumeration value="LHC:LHC"/>
         <xs:enumeration value="OTHER"/>
      </xs:restriction>
   </xs:simpleType>



   <xs:simpleType name="ZeroTo90Type">
      <xs:restriction base="xs:double">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="90"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="Neg90To90Type">
      <xs:restriction base="xs:double">
         <xs:minInclusive value="-90"/>
         <xs:maxInclusive value="90"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="Neg180To180Type">
      <xs:restriction base="xs:double">
         <xs:minInclusive value="-180"/>
         <xs:maxInclusive value="180"/>
      </xs:restriction>
   </xs:simpleType>


<!-- sicd blocks -->

   <xs:complexType name="CollectionInfoType">
      <xs:sequence>
         <xs:element name="CollectorName" type="xs:string" maxOccurs="1"/>
         <xs:element name="IlluminatorName" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="CoreName" type="xs:string" maxOccurs="1"/>
         <xs:element name="CollectType" minOccurs="0" maxOccurs="1" >
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="MONOSTATIC"/>
                  <xs:enumeration value="BISTATIC"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RadarMode" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ModeType" maxOccurs="1">
                     <xs:simpleType>
                        <xs:restriction base="xs:string">
                           <xs:enumeration value="SPOTLIGHT"/>
                           <xs:enumeration value="STRIPMAP"/>
                           <xs:enumeration value="DYNAMIC STRIPMAP"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="ModeID" type="xs:string" minOccurs="0" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Classification" type="xs:string" maxOccurs="1"/>
         <xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ImageCreationType">
      <xs:sequence>
         <xs:element name="Application" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="DateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Site" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Profile" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ImageDataType">
      <xs:sequence>
         <xs:element name="PixelType" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="RE32F_IM32F"/>
                  <xs:enumeration value="RE16I_IM16I"/>
                  <xs:enumeration value="AMP8I_PHS8I"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AmpTable" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Amplitude" type="ArrayDouble" minOccurs="1" maxOccurs="256"/>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="NumRows" type="xs:int" maxOccurs="1"/>
         <xs:element name="NumCols" type="xs:int" maxOccurs="1"/>
         <xs:element name="FirstRow" type="xs:int" maxOccurs="1"/>
         <xs:element name="FirstCol" type="xs:int" maxOccurs="1"/>
         <xs:element name="FullImage" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="NumRows" type="xs:int" maxOccurs="1"/>
                  <xs:element name="NumCols" type="xs:int" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="SCPPixel" type="RowColType" maxOccurs="1"/>
         <xs:element name="ValidData" minOccurs="0" maxOccurs="1" >
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Vertex" type="RowColvertexType" minOccurs="3" maxOccurs="unbounded"/>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GeoInfoType">
      <xs:sequence>
         <xs:element name="GeoInfo" type="GeoInfoType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Desc" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="Point" type="LatLonType"/>
            <xs:element name="Line" type="LineType"/>
            <xs:element name="Polygon" type="PolygonType"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
   </xs:complexType>

   <xs:complexType name="GeoDataType">
      <xs:sequence>
         <xs:element name="EarthModel" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="WGS_84"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SCP" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ECF" type="XYZType" maxOccurs="1"/>
                  <xs:element name="LLH" type="LatLonHAEType" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ImageCorners" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ICP" type="LatLonCornerStringType" minOccurs="4" maxOccurs="4"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="ValidData" type="PolygonType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="GeoInfo" type="GeoInfoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="DirParamType">
      <xs:sequence>
         <xs:element name="UVectECF" type="XYZType" maxOccurs="1"/>
         <xs:element name="SS" type="xs:double" maxOccurs="1"/>
         <xs:element name="ImpRespWid" type="xs:double" maxOccurs="1"/>
         <xs:element name="Sgn" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:int">
                  <xs:enumeration value="+1"/>
                  <xs:enumeration value="-1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ImpRespBW" type="xs:double" maxOccurs="1"/>
         <xs:element name="KCtr" type="xs:double" maxOccurs="1"/>
         <xs:element name="DeltaK1" type="xs:double" maxOccurs="1"/>
         <xs:element name="DeltaK2" type="xs:double" maxOccurs="1"/>
         <xs:element name="DeltaKCOAPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="WgtType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="WindowName" type="xs:string" maxOccurs="1"/>
                  <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="WgtFunct" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Wgt" type="ArrayDouble" minOccurs="1" maxOccurs="512"/>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GridType">
      <xs:sequence>
         <xs:element name="ImagePlane" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="SLANT"/>
                  <xs:enumeration value="GROUND"/>
                  <xs:enumeration value="OTHER"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Type" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="RGAZIM"/>
                  <xs:enumeration value="RGZERO"/>
                  <xs:enumeration value="XRGYCR"/>
                  <xs:enumeration value="XCTYAT"/>
                  <xs:enumeration value="PLANE"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TimeCOAPoly" type="Poly2DType" maxOccurs="1"/>
         <xs:element name="Row" type="DirParamType" maxOccurs="1"/>
         <xs:element name="Col" type="DirParamType" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="TimelineType">
      <xs:sequence>
         <xs:element name="CollectStart" type="xs:dateTime" maxOccurs="1"/>
         <xs:element name="CollectDuration" type="xs:double" maxOccurs="1"/>
         <xs:element name="IPP" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Set" minOccurs="1" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="TStart" type="xs:double" maxOccurs="1"/>
                           <xs:element name="TEnd" type="xs:double" maxOccurs="1"/>
                           <xs:element name="IPPStart" type="xs:int" maxOccurs="1"/>
                           <xs:element name="IPPEnd" type="xs:int" maxOccurs="1"/>
                           <xs:element name="IPPPoly" type="Poly1DType" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="index" type="xs:int" use="required"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="PositionType">
      <xs:sequence>
         <xs:element name="ARPPoly" type="XYZPolyType" maxOccurs="1"/>
         <xs:element name="GRPPoly" type="XYZPolyType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="TxAPCPoly" type="XYZPolyType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="RcvAPC" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RcvAPCPoly" type="XYZPolyAttributeType" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RadarCollectionType">
      <xs:sequence>
         <xs:element name="RefFreqIndex" type="xs:int" minOccurs="0" maxOccurs="1"/>
         <xs:element name="TxFrequency" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Min" type="xs:double" maxOccurs="1"/>
                  <xs:element name="Max" type="xs:double" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="TxPolarization" type="PolarizationType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="PolarizationHVAnglePoly" type="Poly1DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="TxSequence" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="TxStep" minOccurs="1" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="WFIndex" type="xs:int" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TxPolarization" type="PolarizationType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="index" type="xs:int" use="required"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Waveform" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="WFParameters" minOccurs="1" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="TxPulseLength" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TxRFBandwidth" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TxFreqStart" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TxFMRate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="RcvDemodType" minOccurs="0" maxOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="STRETCH"/>
                                    <xs:enumeration value="CHIRP"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="RcvWindowLength" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="ADCSampleRate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="RcvIFBandwidth" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="RcvFreqStart" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="RcvFMRate" type="xs:double" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="index" type="xs:int" use="required"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="RcvChannels" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ChanParameters" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="RcvAPCIndex" type="xs:int" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TxRcvPolarization" type="DualPolarizationType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                        <xs:attribute name="index" type="xs:int" use="required"/>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="size" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="Area" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Corner" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="ACP" type="LatLonHAECornerType" minOccurs="4" maxOccurs="4"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Plane" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="RefPt" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="ECF" type="XYZType" maxOccurs="1"/>
                                    <xs:element name="Line" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="Sample" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                                 <xs:attribute name="name" type="xs:string" use="optional"/>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="XDir" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="UVectECF" type="XYZType" maxOccurs="1"/>
                                    <xs:element name="LineSpacing" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="NumLines" type="xs:int" maxOccurs="1"/>
                                    <xs:element name="FirstLine" type="xs:int" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="YDir" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="UVectECF" type="XYZType" maxOccurs="1"/>
                                    <xs:element name="SampleSpacing" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="NumSamples" type="xs:int" maxOccurs="1"/>
                                    <xs:element name="FirstSample" type="xs:int" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="SegmentList" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="Segment" minOccurs="1" maxOccurs="unbounded">
                                       <xs:complexType>
                                          <xs:sequence>
                                             <xs:element name="StartLine" type="xs:int" maxOccurs="1"/>
                                             <xs:element name="StartSample" type="xs:int" maxOccurs="1"/>
                                             <xs:element name="EndLine" type="xs:int" maxOccurs="1"/>
                                             <xs:element name="EndSample" type="xs:int" maxOccurs="1"/>
                                             <xs:element name="Identifier" type="xs:string" maxOccurs="1"/>
                                          </xs:sequence>
                                       <xs:attribute name="index" type="xs:int" use="required"/>
                                       </xs:complexType>
                                    </xs:element>
                                 </xs:sequence>
                                 <xs:attribute name="size" type="xs:int" use="required"/>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="Orientation" type="OrientationType" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ImageFormationType">
      <xs:sequence>
         <xs:element name="SegmentIdentifier" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="RcvChanProc" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="NumChanProc" type="xs:int" maxOccurs="1"/>
                  <xs:element name="PRFScaleFactor" type="xs:double" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="ChanIndex" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="TxRcvPolarizationProc" type="DualPolarizationType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ImageFormAlgo" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="PFA"/>
                  <xs:enumeration value="RMA"/>
                  <xs:enumeration value="RGAZCOMP"/>
                  <xs:enumeration value="OTHER"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TStartProc" type="xs:double" maxOccurs="1"/>
         <xs:element name="TEndProc" type="xs:double" maxOccurs="1"/>
         <xs:element name="TxFrequencyProc" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="MinProc" type="xs:double" maxOccurs="1"/>
                  <xs:element name="MaxProc" type="xs:double" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="STBeamComp" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                  <xs:enumeration value="GLOBAL"/>
                  <xs:enumeration value="SV"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ImageBeamComp" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                  <xs:enumeration value="SV"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="AzAutofocus" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                  <xs:enumeration value="GLOBAL"/>
                  <xs:enumeration value="SV"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RgAutofocus" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="NO"/>
                  <xs:enumeration value="GLOBAL"/>
                  <xs:enumeration value="SV"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Processing" minOccurs="0" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Type" type="xs:string" maxOccurs="1"/>
                  <xs:element name="Applied" type="xs:boolean" maxOccurs="1"/>
                  <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="PolarizationCalibration" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="HVAngleCompApplied" type="xs:boolean" maxOccurs="1"/>
                  <xs:element name="DistortionCorrectionApplied" type="xs:boolean" maxOccurs="1"/>
                  <xs:element name="Distortion" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="CalibrationDate" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="A" type="xs:double" maxOccurs="1"/>
                           <xs:element name="F1" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="Q1" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="Q2" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="F2" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="Q3" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="Q4" type="ComplexType" maxOccurs="1"/>
                           <xs:element name="GainErrorA" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="GainErrorF1" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="GainErrorF2" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="PhaseErrorF1" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="PhaseErrorF2" type="xs:double" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="SCPCOAType">
      <xs:sequence>
         <xs:element name="SCPTime" type="xs:double" maxOccurs="1"/>
         <xs:element name="ARPPos" type="XYZType" maxOccurs="1"/>
         <xs:element name="ARPVel" type="XYZType" maxOccurs="1"/>
         <xs:element name="ARPAcc" type="XYZType" maxOccurs="1"/>
         <xs:element name="SideOfTrack" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="L"/>
                  <xs:enumeration value="R"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SlantRange" type="xs:double" maxOccurs="1"/>
         <xs:element name="GroundRange" type="xs:double" maxOccurs="1"/>
         <xs:element name="DopplerConeAng" type="xs:double" maxOccurs="1"/>
         <xs:element name="GrazeAng" type="ZeroTo90Type" maxOccurs="1"/>
         <xs:element name="IncidenceAng" type="ZeroTo90Type" maxOccurs="1"/>
         <xs:element name="TwistAng" type="Neg90To90Type" maxOccurs="1"/>
         <xs:element name="SlopeAng" type="ZeroTo90Type" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RadiometricType">
      <xs:sequence>
         <xs:element name="NoisePoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="NoiseLevelType" minOccurs="0" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="ABSOLUTE"/>
                  <xs:enumeration value="RELATIVE"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RCSSFPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="BetaZeroSFPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SigmaZeroSFPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="SigmaZeroSFIncidenceMap" minOccurs="0" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="APPLIED"/>
                  <xs:enumeration value="NOT_APPLIED"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="GammaZeroSFPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="GammaZeroSFIncidenceMap" minOccurs="0" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="APPLIED"/>
                  <xs:enumeration value="NOT_APPLIED"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AntParamType">
      <xs:sequence>
         <xs:element name="XAxisPoly" type="XYZPolyType" maxOccurs="1"/>
         <xs:element name="YAxisPoly" type="XYZPolyType" maxOccurs="1"/>
         <xs:element name="FreqZero" type="xs:double" maxOccurs="1"/>
         <xs:element name="EB" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="DCXPoly" type="Poly1DType" maxOccurs="1"/>
                  <xs:element name="DCYPoly" type="Poly1DType" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="HPBW" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="DCX" type="xs:double" maxOccurs="1"/>
                  <xs:element name="DCY" type="xs:double" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Array" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="GainPoly" type="Poly2DType" maxOccurs="1"/>
                  <xs:element name="PhasePoly" type="Poly2DType" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Elem" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="GainPoly" type="Poly2DType" maxOccurs="1"/>
                  <xs:element name="PhasePoly" type="Poly2DType" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="GainBSPoly" type="Poly1DType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="EBFreqShift" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
         <xs:element name="MLFreqDilation" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="AntennaType">
      <xs:sequence>
         <xs:element name="Tx" type="AntParamType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="Rcv" type="AntParamType" minOccurs="0" maxOccurs="1"/>
         <xs:element name="TwoWay" type="AntParamType" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="ErrorStatisticsType">
      <xs:sequence>
         <xs:element name="CompositeSCP" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:choice>
                     <xs:element name="RgAzErr" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Rg" type="xs:double" maxOccurs="1"/>
                              <xs:element name="Az" type="xs:double" maxOccurs="1"/>
                              <xs:element name="RgAz" type="xs:double" maxOccurs="1"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="RowColErr" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="Row" type="xs:double" maxOccurs="1"/>
                              <xs:element name="Col" type="xs:double" maxOccurs="1"/>
                              <xs:element name="RowCol" type="xs:double" maxOccurs="1"/>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:choice>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="Components" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="PosVelErr" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="Frame" maxOccurs="1">
                              <xs:simpleType>
                                 <xs:restriction base="xs:string">
                                    <xs:enumeration value="ECF"/>
                                    <xs:enumeration value="RIC_ECF"/>
                                    <xs:enumeration value="RIC_ECI"/>
                                 </xs:restriction>
                              </xs:simpleType>
                           </xs:element>
                           <xs:element name="P1" type="xs:double" maxOccurs="1"/>
                           <xs:element name="P2" type="xs:double" maxOccurs="1"/>
                           <xs:element name="P3" type="xs:double" maxOccurs="1"/>
                           <xs:element name="V1" type="xs:double" maxOccurs="1"/>
                           <xs:element name="V2" type="xs:double" maxOccurs="1"/>
                           <xs:element name="V3" type="xs:double" maxOccurs="1"/>
                           <xs:element name="CorrCoefs" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="P1P2" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P1P3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P1V1" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P1V2" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P1V3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P2P3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P2V1" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P2V2" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P2V3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P3V1" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P3V2" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="P3V3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="V1V2" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="V1V3" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="V2V3" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="PositionDecorr" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="CorrCoefZero" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="DecorrRate" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="RadarSensor" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="RangeBias" type="xs:double" maxOccurs="1"/>
                           <xs:element name="ClockFreqSF" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TransmitFreqSF" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="RangeBiasDecorr" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="CorrCoefZero" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="DecorrRate" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="TropoError" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="TropoRangeVertical" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TropoRangeSlant" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="TropoRangeDecorr" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="CorrCoefZero" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="DecorrRate" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="IonoError" minOccurs="0" maxOccurs="1">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="IonoRangeVertical" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="IonoRangeRateVertical" type="xs:double" minOccurs="0" maxOccurs="1"/>
                           <xs:element name="IonoRgRgRateCC" type="xs:double" maxOccurs="1"/>
                           <xs:element name="IonoRangeVertDecorr" minOccurs="0" maxOccurs="1">
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="CorrCoefZero" type="xs:double" maxOccurs="1"/>
                                    <xs:element name="DecorrRate" type="xs:double" maxOccurs="1"/>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="AdditionalParms" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Parameter" type="ParameterType" minOccurs="1" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="MatchInfoType">
      <xs:sequence>
         <xs:element name="Collect" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CollectorName" type="xs:string" maxOccurs="1"/>
                  <xs:element name="IlluminatorName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="CoreName" type="xs:string" maxOccurs="1"/>
                  <xs:element name="MatchType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
               <xs:attribute name="index" type="xs:int" use="required"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="size" type="xs:int" use="required"/>
   </xs:complexType>

   <xs:complexType name="PFAType">
      <xs:sequence>
         <xs:element name="FPN" type="XYZType" maxOccurs="1"/>
         <xs:element name="IPN" type="XYZType" maxOccurs="1"/>
         <xs:element name="PolarAngRefTime" type="xs:double" maxOccurs="1"/>
         <xs:element name="PolarAngPoly" type="Poly1DType" maxOccurs="1"/>
         <xs:element name="SpatialFreqSFPoly" type="Poly1DType" maxOccurs="1"/>
         <xs:element name="Krg1" type="xs:double" maxOccurs="1"/>
         <xs:element name="Krg2" type="xs:double" maxOccurs="1"/>
         <xs:element name="Kaz1" type="xs:double" maxOccurs="1"/>
         <xs:element name="Kaz2" type="xs:double" maxOccurs="1"/>
         <xs:element name="STDeskew" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Applied" type="xs:boolean" maxOccurs="1"/>
                  <xs:element name="STDSPhasePoly" type="Poly2DType" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RMAType">
      <xs:sequence>
         <xs:element name="RMAlgoType" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="OMEGA_K"/>
                  <xs:enumeration value="CSA"/>
                  <xs:enumeration value="RG_DOP"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ImageType" maxOccurs="1">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="RMAT"/>
                  <xs:enumeration value="INCA"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RMAT" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="RefTime" type="xs:double" maxOccurs="1"/>
                  <xs:element name="PosRef" type="XYZType" maxOccurs="1"/>
                  <xs:element name="UnitVelRef" type="XYZType" maxOccurs="1"/>
                  <xs:element name="DistRLPoly" type="Poly1DType" maxOccurs="1"/>
                  <xs:element name="CosDCACOAPoly" type="Poly2DType" maxOccurs="1"/>
                  <xs:element name="Kx1" type="xs:double" maxOccurs="1"/>
                  <xs:element name="Kx2" type="xs:double" maxOccurs="1"/>
                  <xs:element name="Ky1" type="xs:double" maxOccurs="1"/>
                  <xs:element name="Ky2" type="xs:double" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="INCA" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="TimeCAPoly" type="Poly1DType" maxOccurs="1"/>
                  <xs:element name="R_CA_SCP" type="xs:double" maxOccurs="1"/>
                  <xs:element name="FreqZero" type="xs:double" maxOccurs="1"/>
                  <xs:element name="DRateSFPoly" type="Poly2DType" maxOccurs="1"/>
                  <xs:element name="DopCentroidPoly" type="Poly2DType" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="DopCentroidCOA" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RGAZCOMPType">
      <xs:sequence>
         <xs:element name="RgAzRefTime" type="xs:double" maxOccurs="1"/>
         <xs:element name="Time1" type="xs:double" maxOccurs="1"/>
         <xs:element name="Time2" type="xs:double" maxOccurs="1"/>
         <xs:element name="AzToCosSF" type="xs:double" maxOccurs="1"/>
         <xs:element name="KazToTimePoly" type="Poly1DType" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>

<!-- SICD MASTER -->
   <xs:element name="SICD">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="CollectionInfo" type="CollectionInfoType" maxOccurs="1"/>
            <xs:element name="ImageCreation" type="ImageCreationType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ImageData" type="ImageDataType" maxOccurs="1"/>
            <xs:element name="GeoData" type="GeoDataType" maxOccurs="1"/>
            <xs:element name="Grid" type="GridType" maxOccurs="1"/>
            <xs:element name="Timeline" type="TimelineType" maxOccurs="1"/>
            <xs:element name="Position" type="PositionType" maxOccurs="1"/>
            <xs:element name="RadarCollection" type="RadarCollectionType" maxOccurs="1"/>
            <xs:element name="ImageFormation" type="ImageFormationType" maxOccurs="1"/>
            <xs:element name="SCPCOA" type="SCPCOAType" maxOccurs="1"/>
            <xs:element name="Radiometric" type="RadiometricType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Antenna" type="AntennaType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorStatistics" type="ErrorStatisticsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="MatchInfo" type="MatchInfoType" minOccurs="0" maxOccurs="1"/>
            <xs:choice minOccurs="0">
               <xs:element name="PFA" type="PFAType" maxOccurs="1"/>
               <xs:element name="RMA" type="RMAType" maxOccurs="1"/>
               <xs:element name="RGAZCOMP" type="RGAZCOMPType" maxOccurs="1"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
